**List**

List items are ordered, changeable, and alow duplicate values.

In [ ]:
this_list = ["apple","cherry","pineapple","mango","banana","apple"]
print(this_list)

['apple', 'cherry', 'pineapple', 'mango', 'banana', 'apple']

In [ ]:
#lenght

print(len(this_list))

6

In [ ]:
#data type

print(type(this_list))

<class 'list'>

In [ ]:
#list constructor

this_list = list(('apple','banana','mango'))
print(this_list)

['apple', 'banana', 'mango']

In [ ]:
this_list = ["apple","cherry","pineapple","mango","banana","apple"]

#access items
print(this_list[2])

#negative indexing
print(this_list[-2])

#range of indexes
print(this_list[2:6])
print(this_list[:4])
print(this_list[1:])
print(this_list[-1:-5])

pineapple
banana
['pineapple', 'mango', 'banana', 'apple']
['apple', 'cherry', 'pineapple', 'mango']
['cherry', 'pineapple', 'mango', 'banana', 'apple']
[]

In [ ]:
#check if item exists
if "apple" in this_list:
  print("present")

present

In [ ]:
#change list value

this_list = ['apple','banana','cherry','mango']
this_list[1] = 'pineapple'
print(this_list)

['apple', 'pineapple', 'cherry', 'mango']

In [ ]:
#change a range of item value

this_list = ['apple','banana','cherry','orange','kiwi','mango']
this_list[1:3] = ['black','red']
print(this_list)

['apple', 'black', 'red', 'orange', 'kiwi', 'mango']

In [ ]:
#insert item

this_list = ['banana','mango','cherry']
this_list.insert(1,'pineapple')
print(this_list)

['banana', 'pineapple', 'mango', 'cherry']

In [ ]:
#append items
this_list = ['apple','cherry']
this_list.append('banana')
print(this_list)

['apple', 'cherry', 'banana']

In [ ]:
#extend list
this_list = ['apple','banana']
a = ['mango','pineapple']

this_list.extend(a)
print(this_list)

['apple', 'banana', 'mango', 'pineapple']

In [ ]:
#remove specified item
this_list = ['apple','banana','mango','pineapple']
this_list.remove('banana')
print(this_list)

['apple', 'mango', 'pineapple']

In [ ]:
#remove specified index
this_list = ['apple','banana','mango','pineapple']
this_list.pop(0)
print(this_list)

['banana', 'mango', 'pineapple']

In [ ]:
#loop through a list
this_list = ['apple','banana','mango','pineapple']
for x in this_list:
  print(x)

apple
banana
mango
pineapple

In [ ]:
#using while loop 
this_list = ['apple','banana','mango','pineapple']
i = 0
while i < len(this_list):
  print(this_list[i])
  i = i+1

apple
banana
mango
pineapple

In [ ]:
#sort list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
#sort descending order
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
#copy list
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#join list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**Methods**



1.   append() - Adds an element at the end of the list

2.   clear() - removes all the element from the list

3.   copy() - returns a copy of the list

4.   count() - returns the numbers of elements with the specified value

5.   extend() - Add the elements of a list (or any iterable), to the end of the current list
6.   index()	- Returns the index of the first element with the specified value

7.   insert()	- Adds an element at the specified position
8.   pop()	- Removes the element at the specified position


9.   remove()	- Removes the item with the specified value


10.   reverse()	- Reverses the order of the list


11.   sort()	- Sorts the list