**Set**

Set items are unordered, unchangeable, unindexed and do not allow duplicate values

In [ ]:
this_set = {'apple','mango','pineapple','cherry'}
print(this_set)

In [ ]:
#lenght

print(len(this_set))

In [ ]:
#type

print(type(this_set))

In [ ]:
#set() constructor
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

In [ ]:
#access items
#You cannot access items in a set by referring to an index or a key.

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#add items
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
# add sets

a = {'apple','banana'}
b = {'mango','cherry'}

a.update(b)
print(a)

In [ ]:
#remove item
a = {'apple','banana','cherry'}
a.remove('apple')
print(a)

In [ ]:
#discard
a = {'apple','banana','cherry'}
a.discard('cherry')
print(a)

In [ ]:
#pop
a = {'apple','banana','cherry'}
#You can also use the pop() method to remove an item, but this method will remove the last item. 
#Remember that sets are unordered, so you will not know what item that gets removed.

x = a.pop()

print(x)

print(a)

In [ ]:
#loop items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#join set
#using union
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#using update
set1.update(set2)
print(set1)

**Method**


*   add()	- Adds an element to the set
*   clear()	- Removes all the elements from the set

*   copy()	- Returns a copy of the set

*   pop()	- Removes an element from the set

*   union()	- Return a set containing the union of sets
*   update()	- Update the set with the union of this set and others


*   remove()	- Removes the specified element


*   pop()	- Removes an element from the set