**Tuple**

Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
tuple1 = ('apple','banana','mango','cherry')
print(tuple1)

('apple', 'banana', 'mango', 'cherry')

In [ ]:
#lenght

print(len(tuple1))

4

In [ ]:
#type

print(type(tuple1))

<class 'tuple'>

In [ ]:
#empty tuple
tuple2 = ()
print(type(tuple2))

<class 'tuple'>

In [ ]:
#create tuple with one item
tuple3 = ('apple',)
print(type(tuple3))

<class 'tuple'>

In [ ]:
#tuple() constructor

this_tuple = tuple(('apple','banana','mango'))
print(this_tuple)

('apple', 'banana', 'mango')

In [ ]:
tuple5 = ('apple','mango','cherry','pineapple','kiwi','orange')

#access tuplle item
print(tuple5[1])

#negative indexing
print(tuple5[-3])

#range of indexes
print(tuple5[1:5])
print(tuple5[:5])
print(tuple5[1:])
print(tuple5[-3:-1])

mango
pineapple
('mango', 'cherry', 'pineapple', 'kiwi')
('apple', 'mango', 'cherry', 'pineapple', 'kiwi')
('mango', 'cherry', 'pineapple', 'kiwi', 'orange')
('pineapple', 'kiwi')

In [ ]:
#check if item exists
if "apple" in tuple5:
  print('present')

present

In [ ]:
#remove items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
#add items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
#unpacking tuple
a = ("apple", "banana", "cherry")

(green, yellow, red) = a

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
#using asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
#loop through tuple
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
#using while loop
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i+1

apple
banana
cherry

In [ ]:
#join two tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Method**



1.   count()	- Returns the number of times a specified value occurs in a tuple
2.   index()	- Searches the tuple for a specified value and returns the position of where it was found